body{
    background-color: rgb(138, 75, 201); /*Comentaaaaa*/
    /*background-size: COVER; /*ele coloca um imagem de fundo inteira! toda a imagem é usada para preencher o site*/
    /*background-repeat: no-repeat; /*se uma foto for pequena, ela var repetida ate preencher, menos com o no-repeat*/
    /*background-position: center; /*centraliza a imagem*/
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: oblique;
}

header{
    border: tamahho estilo cor;
    border: 18px solid rgb(161, 216, 78);
    background-color: rgb(78, 220, 245);
    text-align: left;
}

nav ul li{
    list-style:none;
    display: inline;
    /*padding: 25px;*/
    /*text-decoration: none; remove italico, ou efeito
    list-style:none;*/
    border: 2px solid pink;
    background-color: rgb(214, 166, 174);
    padding-top: 15px;
      
}
ul{
    text-align: right; 
}

h1, h4{/*podemos usar , virgula para falar q outro elemento vai ter a mesma formatação*/
    text-align: left;
    width: 98%;
    height: 10%;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 25px;
    margin-top: 20px;
    background-color: rgb(248, 195, 95);

}

h4{
    margin-top: -25px;
    padding-bottom: -80px;
}

/*#capa{
    width: 1073px 
    height: 782px
}*/

#sobre{
    background-color: indianred;
    padding: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
}

#history{
    font-size: 28px;
    font-display: swap;
}
#texto{
    background-color: bisque;
    height: 80%;
}
.grid-container{ /*chamamos a classe com ponto .*/
    display: grid;
    grid-template-columns: 25% 25% 25%;
}

#sejaCliente, #titulo10{
    font-size: 3cm;
}

.banner{
    width: 50%;
    height: 100%;
}

#carne{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#fotocarne{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#mãe{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#fotoMãe{
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

#brazos{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#fotobrazos{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

#piel{
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#fotopiel{
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#volver{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

#fotovolver{
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

#fale{
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 3;
}

#fotofale{
    grid-column-start: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}


#kika{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#fotokika{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

#mei{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#fotomei{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

#mulheres{
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#fotomulheres{
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 6;
}

/*Títulos*/
#carne, #mãe, #brazos, #piel, #volver, #fale, #kika, #mei, #mulheres{
    font-size: 20px;
    border: 2px rgb(78, 220, 245) dotted;
    text-align: center;
    background-color: rgb(78, 220, 245);
    font-weight: bold;
}

/*Imagens*/
#fotocarne, #fotomãe, #fotobrazos, #fotopiel, #fotovolver, #fotofale, #fotokika, #fotomei, #fotomulheres{
    text-align: center;
    background-color: aquamarine;
    font-weight: bold;
    border: 2px dotted white;
}